body {
  background-image: url("https://wallpapers.com/images/hd/three-pocket-watches-showing-time-a2vajzo5jte568n5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 10px;
}
h2 {
  margin: 0 0 5px;
  font-size: 30px;
  text-align: center;
}
select {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.container {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  border: gray solid 2px;
  border-radius: 8px;
  background-color: #f3d6ac;
  opacity: 0.9;
}

.city {
  display: block;
  margin: 10px 0;
  text-align: center;
  padding: 20px 0;
  border-bottom: gray dashed 1px;
}
.city:last-child {
  border: none;
}
.cities {
  display: block;
  justify-content: space-around;
}
.time {
  font-size: 30px;
  font-weight: bold;
}
.date {
  font-size: 20px;
  opacity: 0.8;
  margin-top: 30px;
}
.index {
  display: block;
}
a {
  text-align: center;
  color: #924817;
}
footer {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
  padding: 8px 0;
  background-color: #090103;
  color: #924817;
  border-radius: 4px;
}
